In [73]:
import pandas as pd

In [74]:
with open("gene_aliases_20210930.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("gene_aliases_20210930.csv", header=None, delimiter=",", names=column_names)

In [75]:
df.head()

            0          1       2    3                4   5   6   7   8
0  locus_name        NaN  symbol  NaN              NaN NaN NaN NaN NaN
1    18S RRNA   18S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
2    25S RRNA   25S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
3   5.8S RRNA  5.8S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
4         AAN        AAN     NaN  NaN  ANOTHER ANDANTE NaN NaN NaN NaN

In [76]:
full_name_col = df.iloc[:,2]
full_name_col2 = df.iloc[:,3]
full_name_col3 = df.iloc[:,4]
print(full_name_col3.unique())

[nan 'ANOTHER ANDANTE' 'ALLYL ALCOHOL RESISTANT 2'
 'ALLYL ALCOHOL RESISTANT 4' 'ACAULIS 3' 'ACAULIS 4'
 'ARRESTED DEVELOPMENT 1' 'ARRESTED DEVELOPMENT 2'
 'ARRESTED DEVELOPMENT 3' 'ABA DEREGULATED GENE EXPRESSION 3'
 'AUXIN ALTERED GENE EXPRESSION 1' 'AUXIN ALTERED GENE EXPRESSION 2'
 'ABERRANT GST1 INDUCTION' 'ALTERED HYDROTROPIC RESPONSE 3'
 'ASPARTATE KINASE 4' 'ALBINA 4' 'ABERRANT LATERAL ROOT FORMATION 2'
 'ALIEN' 'ALUMINUM RESISTANT 104' 'ALUMINUM RESISTANT 128'
 'ALUMINUM SENSITIVE 2' 'ALUMINUM SENSITIVE 4' 'ALUMINUM SENSITIVE 5'
 'ALUMINUM SENSITIVE 7' 'ammonium overly sensitive 4' 'ANDANTE'
 'ANTHOCYANINLESS 3' 'Ara3'
 'ACCUMULATION AND REPLICATION OF CHLOROPLASTS 10'
 'ACCUMULATION AND REPLICATION OF CHLOROPLASTS 4'
 'ACCUMULATION AND REPLICATION OF CHLOROPLASTS 7'
 'ACCUMULATION AND REPLICATION OF CHLOROPLASTS 8'
 'ACCUMULATION AND REPLICATION OF CHLOROPLASTS 9'
 'ALTERED RNASE PROFILES 3' 'ARSENIC RESISTANCE 3'
 'ACCELERATION OF SYMPTOMS BY CAMV N7 3' 'NAC domain containing protein 1'
 'NGATHA4' 'ABNORMAL SUSPENSOR 2' 'DICER-LIKE 1' 'CARPEL FACTORY'
 'dicer-like 2' 'EMBRYO DEFECTIVE 60' 'EMBRYO DEFECTIVE 76'
 'SHORT INTEGUMENTS 3' 'SUSPENSOR 3' 'microRNA838A' 'pyrophosphorylase 1'
 'LATE ELONGATED HYPOCOTYL' 'LATE ELONGATED HYPOCOTYL 3'
 'Usually multiple acids move in and out Transporters '
 'pyruvate dehydrogenase E1 alpha' 'RPP1 co-orthologous gene 3'
 '60S acidic ribosomal protein P1-3' 'IQ-domain 20'
 '3-ketoacyl-CoA synthase 3' 'CBL-interacting protein kinase 11'
 'PROTEIN KINASE 8' 'SNF1-RELATED PROTEIN KINASE 3.14'
 'GRF1-interacting factor 4' 'MICRORNA 167' 'microRNA165A' 'miPEP165a'
 'cytochrome P450, family 78, subfamily A, '
 'ARABIDOPSIS RAB GTPASE HOMOLOG A4' 'RAB GTPase homolog A4'
 'RAB GTPase homolog A3' 'Arabidopsis thaliana L-fucokinase/GDP-L-fucose '
 'L-fucokinase/GDP-L-fucose pyrophosphorylase' 'Orosomucoid-like 2'
 'Jasmonate Associated MYC2 LIKE 3'
 'cytochrome P450, family 703, subfamily A, '
 'cofactor of nitrate reductase and xanthine dehydrogenase '
 'FLOURY ENDOSPERM LIKE 4' 'REDUCED CHLOROPLAST COVERAGE'
 'auxin-responsive endogenous polypeptide 3'
 'cyclic nucleotide gated channel 10' 'PYRABACTIN RESISTANCE 1-LIKE 11'
 'regulatory component of ABA receptor 3' 'CENTROMERIC HISTONE H5'
 'ENHANCER OF TRY AND CPC 3' 'pumilio 24' 'pumilio 22'
 'UDP-glucosyl transferase 72B5' 'mannan O-acetyltransferase 3'
 'TRICHOME BIREFRINGENCE-LIKE 25' 'LATE EMBRYOGENESIS ABUNDANT 16'
 'LIGHT STRESS-REGULATED 5'
 '1-amino-cyclopropane-1-carboxylate synthase 4' 'ANGUSTIFOLIA'
 'DETORQUEO' 'ALTERED SEED GERMINATION 6' 'REVEILLE 5' 'AGAMOUS-like 30'
 'BYPASS 3' 'MAP kinase 11' 'FERRIC CHELATE REDUCTASE DEFECTIVE 3'
 'ferric reduction oxidase 2' 'ferric reduction oxidase 1'
 'GLYCEROL-3-PHOSPHATE sn-2-ACYLTRANSFERASE 4'
 'plasma membrane intrinsic protein 1C' 'SIGNAL PEPTIDE PEPTIDASE-LIKE 4'
 'plant U-box 54' 'putative recombination initiation defects 5'
 'TON1 Recruiting Motif 35' '14-3-3 PROTEIN G-BOX FACTOR14 EPSILON'
 'phosphoinositide 4-kinase gamma 1']

In [77]:
frames = [full_name_col, full_name_col2, full_name_col3]
name = pd.concat(frames)

In [78]:
print(name)

0        symbol
1           NaN
2           NaN
3           NaN
4           NaN
          ...
28958       NaN
28959       NaN
28960       NaN
28961       NaN
28962       NaN
Length: 86889, dtype: object

In [79]:
name.describe()

count                                                 20916
unique                                                18991
top       Usually multiple acids move in and out Transpo...
freq                                                     44
dtype: object