In [2]:
import pandas as pd

Using provided code to read from csv file

In [3]:
with open("gene_aliases_20210930.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("gene_aliases_20210930.csv", header=None, delimiter=",", names=column_names)

In [5]:
df.head()

            0          1       2    3                4   5   6   7   8
0  locus_name        NaN  symbol  NaN              NaN NaN NaN NaN NaN
1    18S RRNA   18S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
2    25S RRNA   25S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
3   5.8S RRNA  5.8S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
4         AAN        AAN     NaN  NaN  ANOTHER ANDANTE NaN NaN NaN NaN

In [28]:
print(pd.isnull(df).sum())

0        0
1     1046
2     9141
3    27981
4    28851
5    28963
6    28963
7    28963
8    28963
dtype: int64

Filter out rows with empty cells:

In [33]:
nan_rows = df.loc[df.isna().any(axis=1)]
print(nan_rows)

                                                0          1       2    3  \
0                                      locus_name        NaN  symbol  NaN
1                                        18S RRNA   18S RRNA     NaN  NaN
2                                        25S RRNA   25S RRNA     NaN  NaN
3                                       5.8S RRNA  5.8S RRNA     NaN  NaN
4                                             AAN        AAN     NaN  NaN
...                                           ...        ...     ...  ...
28958                          pub_termannotation        NaN     NaN  NaN
28959       pub_termannotation_save\npub_termtype        NaN     NaN  NaN
28960                           pub_updatehistory        NaN     NaN  NaN
28961                                     pub_url        NaN     NaN  NaN
28962  pub_urllinking\npub_urlreference\npub_user        NaN     NaN  NaN

                     4   5   6   7   8
0                  NaN NaN NaN NaN NaN
1                  NaN NaN NaN NaN NaN
2                  NaN NaN NaN NaN NaN
3                  NaN NaN NaN NaN NaN
4      ANOTHER ANDANTE NaN NaN NaN NaN
...                ...  ..  ..  ..  ..
28958              NaN NaN NaN NaN NaN
28959              NaN NaN NaN NaN NaN
28960              NaN NaN NaN NaN NaN
28961              NaN NaN NaN NaN NaN
28962              NaN NaN NaN NaN NaN

[28963 rows x 9 columns]

Delete rows with any empty cells:

In [34]:
df_new = df.drop(nan_rows)

In [35]:
print(df_new.head())

       0     1    2    3                       4   5   6   7   8
9   ACL3  ACL3  NaN  NaN               ACAULIS 3 NaN NaN NaN NaN
10  ACL4  ACL4  NaN  NaN               ACAULIS 4 NaN NaN NaN NaN
11  ADD1  ADD1  NaN  NaN  ARRESTED DEVELOPMENT 1 NaN NaN NaN NaN
12  ADD2  ADD2  NaN  NaN  ARRESTED DEVELOPMENT 2 NaN NaN NaN NaN
13  ADD3  ADD3  NaN  NaN  ARRESTED DEVELOPMENT 3 NaN NaN NaN NaN