In [37]:
import pandas as pd

In [38]:
with open("C:\code\Qmind\PheonixBio\phoenixbio\Phoenix Bioinformatics\gene_aliases_20210930.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("C:\code\Qmind\PheonixBio\phoenixbio\Phoenix Bioinformatics\gene_aliases_20210930.csv", header=None, delimiter=",", names=column_names)

In [39]:
df.head()

            0    1                2    3          4   5   6   7
0  locus_name  NaN           symbol  NaN  full_name NaN NaN NaN
1    18S RRNA  NaN         18S RRNA  NaN        NaN NaN NaN NaN
2    25S RRNA  NaN         25S RRNA  NaN        NaN NaN NaN NaN
3   5.8S RRNA  NaN        5.8S RRNA  NaN        NaN NaN NaN NaN
4         AAN  AAN  ANOTHER ANDANTE  NaN        NaN NaN NaN NaN

In [53]:
temp= []



temp = df[1].str.split(' ',1)
    

temp[237]

C:\Users\David Hoernke\AppData\Local\Temp\ipykernel_48716\2222975289.py:5: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  temp = df[1].str.split(' ',1)

['GPAT2', 'GLYCEROL-3-PHOSPHATE sn-2-ACYLTRANSFERASE 2']

In [57]:
for (tempList) in temp:
    if (type(tempList))=='float':
        print(tempList)
    elif (type(tempList)=='list'):
        print(tempList[0])

TypeError: 'float' object is not subscriptable

In [47]:
temp2 = []

def appendToo(var):
    temp2.append(temp[56][0])

x=0

while x<len(temp)-1:
    appendToo(x)
   
    print(temp2[x])
    x=x+1

MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A
MIR838A

In [45]:
print(temp[99][0])

['PYL9']