In [1]:
import pandas as pd

In [2]:
with open("gene_aliases_20210930.csv", 'r') as temp_f:
    # get No of columns in each line
    col_count = [ len(l.split(",")) for l in temp_f.readlines() ]

### Generate column names  (names will be 0, 1, 2, ..., maximum columns - 1)
column_names = [i for i in range(0, max(col_count))]

### Read csv
df = pd.read_csv("gene_aliases_20210930.csv", header=None, delimiter=",", names=column_names)

In [3]:
df.head()

            0          1       2    3                4   5   6   7   8
0  locus_name        NaN  symbol  NaN              NaN NaN NaN NaN NaN
1    18S RRNA   18S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
2    25S RRNA   25S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
3   5.8S RRNA  5.8S RRNA     NaN  NaN              NaN NaN NaN NaN NaN
4         AAN        AAN     NaN  NaN  ANOTHER ANDANTE NaN NaN NaN NaN